.affairsContainer {
    width: 500px;
    margin: 0 auto;
}

.affairs__wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.affairs__wrapper button {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid white;
}

.affairs__wrapper button:hover,
.affairs__wrapper button:focus {
    border: 1px solid #bababa;
}

.affairs__wrapperBtn {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
}

.affairs__wrapperBtn button {
    width: 100px;
    cursor: pointer;
}

.affairsList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6px 10px 6px 0;
}

.affairsList__btn {
    width: 100px;
    margin: 0 0 0 10px;
}

.affairsList__name {
    width: 40%;
}

.affairsList__priority {
    width: 40%;
}
