.superSpan {
  position: relative;
  margin: 0 0 0 40px;
  font-size: 16px;
  line-height: 22px;
}

.superSpan::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -40px;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  background-image: url("./penIco.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  z-index: 2;
}

.superSpan:hover,
.superSpan:focus {
  color: gold;
  cursor: pointer;
}
