.contentWrapper {
    width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.blue {
    margin: 20px 0;
    border-bottom: 1px solid blue;
}

.column {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}
