.radioButtons__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  margin: 10px 0 10px 0;
}

.radioButtons__list label {
  display: block;
  width: auto;
  cursor: pointer;
}

.radioButtons__list label:hover,
.radioButtons__list label:focus {
  color: gold;
}

.radioButtons__list input {
  position: relative;
  top: 2px;
}

