.hide {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translateX(100%);
}

a {
  color: #000000;
  text-decoration: none;
}

.menuBtn {
  margin: 20px;
  font-size: 26px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  justify-content: space-between;

  max-width: 400px;
  margin: 10px 0 10px 0;
  padding: 0 20px;

  filter: alpha(opacity=100);
  transform: translate(0);
  transition: all 0.3s ease-in-out;
}

.nav__item {
  min-width: 110px;
  padding: 10px 6px;
  margin: 0 10px 0 0;

  font-size: 18px;
  text-align: center;
  border: 1px solid darkslategrey;

  transition: 0.5s;
}

.nav__item:hover,
.nav__item:focus {
  color: white;
  border: 1px solid white;
  background-color: darkslategrey;
}


.nav__itemActive {
  color: white;

  border: 1px solid darkslategrey;
  background-color: darkslategrey;

  transition: 0.5s;
}

/*Error-page styles*/

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  font-size: 28px;
}

