

.inputErrorText {
    padding: 6px;
    border-radius: 5px;
    background-color: red;
}

.inputForm__wrapper {
    width: 500px;
    margin: 0 auto;
}

.inputForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;

}

.inputForm input {
    width: 360px;
    padding: 10px;
    margin: 20px 20px 20px 0;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bababa;
}

.inputForm input:hover,
.inputForm input:focus {
    border: 1px solid gold;
}

.inputForm input.error {
    border: 1px solid red;
}

.inputErrorText {
    position: absolute;
    top: -14px;
    left: 10px;
    font-size: 12px;
}

.inputButton {
    height: 44px;
    font-size: 18px;
}

.inputUsersCount {
    margin: 20px 0;
}
